@import url(main.css);

.expSection{
    display: grid;
    grid-template-columns: 15% 75%;
}

.expMenu{
    display: flex;
    flex-direction: column;
}

.expPane{
    display: none;
    height: 100%;
    padding: 5%;
    align-items: center;
}
.expPane.active{
    display: block;
}


.stkMenu {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

/* Botões expansíveis */
.StkBtn {
  width: 100%;
  padding: 2%;
  }

/* Painel inicialmente oculto */
.stkPane {
  display: none;
  grid-template-columns: 10% 10% 90%; /* ícones à esquerda, descrição à direita */
  gap: 1rem;
  margin-top: 0.5rem;
}
.stkPane.active {
  display: block
}

.stkPane a {
    color: inherit;
    text-decoration: none;
}
.stkPane img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Conteúdo explicativo */
.stkCont {
  display: none;
  padding: 1%;
  border-left: .2rem solid var(--colUrl);
}
.stkCont.active {
  display: block;
}
