/* Arquivo CSS (Cascading Style Sheets) para estilização de layouts*/
@import url(main.css);


/*Div de Apresentacao*/
.aboutSection{
display: grid;
grid-template-columns: 70% 30%;
}

/*Div de Experiencia Profissional*/
.expSection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}
.tab {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.stkPane{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
}

.stkTab{
    display: flex;
    flex-direction: column;
    row-gap: 1%;
}



/*Div de Stack*/
@media screen and (max-width: 750px) {
    /*Div Mobile de Apresentacao*/
    .aboutSection {
        display: flex;
        flex-wrap: wrap;
    }

    /*Div Mobile de Experiencia Profissional*/
    .expSection {
        display: flex;
        flex-direction: column;
    }
    .tab {
        display: flex;
        flex-direction: row;
   }

   .stkPane{
    display: flex;
    flex-direction: column;
   }

   .stkTab{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
   }

}