<footer class="bg-body-tertiary border-top mt-auto py-4">
    <div class="d-flex flex-row gap-4 flex-wrap text-center justify-content-center ">
      
      <!-- Coluna 1: Copyright -->
        <span class="text-muted user-select-none">
          <i class="bi bi-c-circle"></i> 2026 Nycolas Garcia
        </span>

      <!-- Coluna 2: Email (centralizado) -->
        <a href="mailto:nycolasagrg.work@gmail.com" class="text-decoration-none text-muted">
          <i class="bi bi-envelope"></i> nycolasagrg.work@gmail.com
        </a>
    </div>
</footer>